<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/deco/menu.css}" rel="stylesheet">
<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.min.js}"></script>
<style>
	
	
</style>
<title>practice time</title>
</head>
<body>
<h1>Practice Time</h1>
<div class="header container text-center">
	<h2>Menu</h2>
	<button type="button" class="btn btn-outline-primary"><a href="/group/menu">Main</a></button>
	<button type="button" class="btn btn-outline-success"><a href="/group/main">SignUp</a></button>
	<button type="button" class="btn btn-outline-info"><a href="/group/playerList">Personal</a></button>
	<button type="button" class="btn btn-outline-secondary"><a href="/group/teamInfo" + teamId>Team</a></button>
</div>
<form id="signup-form" th:action="@{/group/main}" method="post" th:object="${signupForm}">
	<table class="table table-primary">

		
	
	<!--name -->
		<tr>
			<div class="form-group">	
			<th ><label for="playerName" th:text="#{playerName}"></label></th>
			<td><input type="text" class="form-control" th:field="*{playerName}" th:errorclass="*{playerName}">
			<div class="invalid-feedback" th:errors="*{playerName}"></div></td>
			</div>
		</tr>
		

	
	<!--age -->
		<tr>
			<div class="form-group">
			<th><label th:text="#{age}"></label></th>
			<td><input type="text" class="form-control" th:field="*{age}">
			<div class="invalid-feedback" th:errors="*{age}"></div></td>
			</div>
		</tr>
	<!--birth -->
		<tr>
			<div class="form-group">
			<th><label for="playerBirth" th:text="#{playerBirth}"></label></th>
			<td><input type="text" class="form-control" th:field="*{playerBirth}"  th:errorclass="*{playerBirth}" placeholder="yyyy/MM/dd">
			<div class="invalid-feedback" th:errors="*{playerBirth}"></div></td>
			</div>
		</tr>
	<!--palce -->
		<tr><div class="form-group">
		<th><label for="birthPlace" th:text="#{birthPlace}"></label></th>
		<td><input type="text" class="form-control" th:field="*{birthPlace}"  th:errorclass="*{birthPlace}">
		<div class="invalid-feedback" th:errors="*{birthPlace}"></div></td>
		</div>
		</tr>
	<!--food-->
		<tr><div class="form-group">
		<th><label for="food" th:text="#{food}"></label></th>
		<td><input type="text" class="form-control" th:field="*{food}"  th:errorclass="*{food}">
		<div class="invalid-feedback" th:errors="*{food}"></div></td>
		</div></tr>
	<!--strong-->
		<tr><div class="form-group">
		<th><label for="strong" th:text="#{strong}"></label></th>
		<td><input type="text" class="form-control" th:field="*{strong}" th:errorclass="*{strong}">
		<div class="invalid-feedback" th:errors="*{strong}"></div></td>
		</div></tr>
	<!--word-->
		<tr><div class="form-group">
		<th><label for="word" th:text="#{word}"></label></th>
		<td><input type="text" class="form-control" th:field="*{word}" th:errorclass="*{word}">
		<div class="invalid-feedback" th:errors="*{word}"></div></td>
		</div></tr>
	</table>
	<!--team -->
	
	
		<div class="form-group container text-center table-primary">
		<p>↓好きなとこ選んでチェックしてね↓</p>
		<p>※チームの詳細はページ上部のボタンから覗いてね</p>
		<label><input type="checkbox" th:field="*{teamId}" th:value="1">Red Dragons</label>
		<label><input type="checkbox" th:field="*{teamId}" th:value="2">Blue Sharks</label>
		<label><input type="checkbox" th:field="*{teamId}" th:value="3">Green Giants</label>
		<label><input type="checkbox" th:field="*{teamId}" th:value="4">Yellow Tigers</label>
		<label><input type="checkbox" th:field="*{teamId}" th:value="5">Black Panthers</label>
		
		</div>
	
	
	
	<!--signupbutton-->
	<div class="container text-center">
		<div class="row">
			<div class="col-md-1 offset-md-2">
				<button type="submit" class="btn  btn-danger "><a th:href="@{/group/main}">なんだろね</a></button>
			</div>
			<div class="col-md-1 offset-md-2">
				<button type="submit" class="btn btn-primary"><a th:href="@{/group/main}">こっちにしてみる？</a></button>
			</div>
			<div class="col-md-1 offset-md-2">
				<button type="reset" class="btn btn-success "><a th:href="@{/group/main}">１回押してみ？</a></button>
				
			</div>
			<div class="col-md-1 offset-md-2">
				<button type="submit" class="btn btn btn-warning"><a th:href="@{/group/main}">押すな危険</a></button>
			</div>
		</div>
	</div>

</form>

</body>
</html>